.Footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(31, 111, 187);
  color: #EEE;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

ul li {
  float: left;
  padding: 12px;
  font-size: 16px;
}

@media screen and (max-width: 724px) {
  .Footer{
    display: none;
  }
}