.Interrupcion{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    width: 30%;
    margin: 100px;
    border:  rgb(31, 111, 187);
    background-color: #4f5357;
    color: #fff;
    border-radius: 10px;
}

.Img {
    height: auto;
    width: auto;
    max-height: 530px;
    max-width: 530px;
    
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    margin: 10px;
    background: #0d4c88;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

a{
    text-decoration: none;
}

span{
    padding: 10px;
    margin: 0 18px;
}

.button span{
    position: relative;
    z-index: 2;
    transition: .3 ease all;
}

.button::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 48px solid #2e6cc9;
    border-right: 48px solid transparent;
    transition: .4s ease-in-out all;
}

.button:hover::after {
    left: 0;
    color: #fff;
}

